* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-image: url('background_image2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard-panel {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.dashboard-panel p {
    padding: 8px 16px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.dashboard-panel p:hover {
    background-color: lightcoral;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px orange;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem;
}

.about-box {
    min-height: 120px;
    width: 30%;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.about-box h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 8px;
}

.about-box p {
    font-size: 14px;
    line-height: 1.4;
}
.dashboard-section {
  background: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.dashboard-section h2 {
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 10px;
}

.dashboard-section table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-section table th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#attendance li {
  list-style-type:none;
}