* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: border-box;
}
body {
    background-color: #0b0f14;
}
/* Navigation Panel */
.nav-panel {
    background-color: orange;
    height: 50px;
    color: darkblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-panel p {
    display: inline;
    height: 30px;
    text-align: center;
    margin: 0 6px;
    padding: 4px 14px;
    background-color: white;
    border: 2px solid black;
}
.nav-option {
    width: 60%;
    font-size: 16px;
}
.nav-panel p:hover {
    background-color: lightseagreen;
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px purple;
}
/* Product Section */
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-box {
    height: 560px;
    width: 30%;
    background-color: white;
    margin-top: 1rem;
    padding: 22px 0px 16px;
    border: 2.5px solid red;
}
.product-image {
    height: 430px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 2.0rem;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p {
    color: deeppink;
}
.product-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px white;
}
.footer-panel {
    background-color: aqua;
    height: 40px;
    color: crimson;
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
}
